
<nav class="navbar">
  <div class="logo-container">
    <div class="logo">
      <img src="https://www.shutterstock.com/shutterstock/photos/2042000993/display_1500/stock-vector-vegetables-shopping-cart-logo-design-template-2042000993.jpg" alt="Logo">
    </div>
    <div class="app-name">
      Groccery Inventary Management
    </div>
  </div>
  <div class="nav-container">
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="add-product">Add Product</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</nav>
